@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
  margin: 0;
  font-family: "Concert One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Signika Negative", sans-serif;
}

#sandwich {
  display: none;
}

#cardTestimoni {
  flex-direction: row;
}
#card {
  width: 230%;
}
#gambarTestimoni {
  width: 150px;
  border-radius: 100px;
}
#accor {
  width: 95%;
}

#cardMobilSearch {
  margin-left: 10px;
  margin-right: 10px;
}
#gambarMobil {
  width: 100%;
  padding-left: 120px;
}
@media screen and (max-width: 500px) {
  #sub {
    margin-left: 60px;
  }
  #cardMobilSearch {
    margin-left: 0;
    margin-right: 0;
  }
  #formulir {
    margin: 0 auto;
  }
  #gambarMobil {
    width: 77%;
    margin: 0 auto;
    padding-left: 10px;
  }
  #konten {
    margin-top: -40px;
  }
  #jumbutron {
    width: "150%";
  }
  #gambarTestimoni {
    padding: 0 auto;
  }
  #accor {
    width: 100%;
  }
  #star {
    left: 120px;
    position: relative;
  }
  #menu {
    display: none;
  }

  #cardTestimoni {
    flex-direction: column;
    top: -50px;
    position: relative;
  }
  #card {
    width: 400%;
  }
  #gambarTestimoni {
    left: 120px;
    position: relative;
    width: 150px;
    border-radius: 100px;
    margin-top: 20px;
  }
  #sandwich {
    display: block;
  }
}
